<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xblog.modules.line.mapper.LineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xblog.modules.line.entity.Line">
        <id column="id" property="id" />
        <result column="context" property="context" />
        <result column="mark_time" property="markTime" />
        <result column="created_date" property="createdDate" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, context, mark_time, created_date, deleted
    </sql>

</mapper>
