<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xblog.dao.ArticleMapper">

    <select id="listArticles" resultType="com.xblog.entity.Article">
        SELECT a.id, a.title, a.summary,
         u.uid, u.account, u.uavatar, u.nickname,
         c.cid, c.cavatar, c.categoryname
    </select>
</mapper>